// Colors
$white: #ffffff;
$black: #0e0d0d;
$black1: #2c2c2c;
$black2: #4f4f4f;
$black3: #1B1616;
$red0: #fff5f7;
$red00: #ebe0e0;
$red01: #ffdadb;
$red1: #ffdbdf;
$red2: #fda5b0;
$red3: #ec7180;
$red4: #e23a4f;
$red5: #bd1f1f;
$red5-1: #910000;
$red5-2: #FF000740;
$red6: #9b0618;
$red7: #5f020d;
$red7-1: #5f1212;
$red7-2: #d33d3d;
$red7-3: #ffc9c9;
$red7-4: #FFDCDD;
$red8: #210004;
$red8-1: #3F0101;
$red8-2: #3A0A0A;
$grey0: #fbfbfb;

$grey00: #e2e2e2;
$grey01: #e8e8e8;
$grey02: #e0e0e0;
$grey03: #686868;
$grey04: #f0f0f0;
$grey05: #dcdcdc;
$grey05-5: #200206;
$grey05-6: #393535;
$grey06: #8d8d8d;
$grey07: #eeeeee;
$grey08: #d8d8d8;
$grey09: #191919;
$grey10: #5c5c5c;
$grey11: #363636;
$grey12: #b9b9b9;
$grey13: #7c7c7c;
$grey14: #dbdbdb;
$grey15: #404040;
$grey16: #484B48;
$grey17: #555555;
$grey18: #282828;
$grey19: #545454;
$grey1: #f6f3f3;
$grey2: #bab5b5;
$grey3: #7c7979;
$grey4: #3f3d3d;
$grey5: #1e1d1d;
$grey6: #131313;
$grey7: #232323;
$grey8: #4c4c4c;
$green1: #d8eadb;
$green5: #40924e;
$neutral: #170f49;
$settingsFirst: #222222;
$levelBox: #f1ebb2;
$card-shadow: #c7cbce33;
$defaultDp: #91B6FF;
$blueColor: #0756f8;
$greyColor: #6d6d6d;
$defaultDp1: #E6EEFF;
$survey-card-shadow: #b0abab40;
$border-level-color: #a5a5a5;
$survey-group-bg: #f4f4f3bf;
$redeem-bg: #f4f4f3bf;
$stroke: #B6B6B6;
$card-strok-border: #f0d5d5d8;
$table-bg-color: rgba(244, 244, 243, 0.7490196078);


// Typography
$font-family-arial: Arial !important;
$font-family-mont: "Montserrat Alternates";
$font-family-laila: "Laila";
$font-family-inter: "Inter";
$font-family-popins: "Poppins";

$font0: 10px;
$font1: 11px;
$font2: 12px;
$font2-1: 13px;
$font3: 14px;
$font3-1: 15px;
$font4: 16px;
$font5: 18px;
$font6: 20px;
$font7: 24px;
$font9: 32px;
$font-large: 35px;
$font-extra-large1: 36px;
$font-extra-large2: 38px;
$font-extra-large3: 40px;

$font-extra-large4: 56px;

$font-mid: 0.75rem;
$font-1rem: 1rem;
$font-1-5rem: 1.5rem;
$font-2rem: 2rem;
$font-3rem: 3rem;

// FONT SIZE ACCORDING TO VIEWPORT WIDTH
$font-1: 1vw;
$font-2: 2vw;
$font-2-1: 2.5vw;
$font-3: 3vw;
$font-4: 4vw;
$font-5: 5vw;
// Sizes
$size-small: 100px;
$size-medium: 200px;
$size-large: 300px;

$viewport-min: 320px; // Minimum viewport width
$viewport-max: 1200px; // Maximum viewport width

//Margins
$margin-top: 12px;
